@media(max-width: 991px) {
  .menu {
    height: auto;
    &__wrap {
      position: relative;
      top: 0;
    }
  }
}

@media(max-width: 740px) {
  .menu {
    &__wrap {
      flex-flow: column nowrap;
    }
    &__left,
    &__right {
      width: 100%;
    }
    &__item {
      padding-right: 0;
      &-link {
        &.--active {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

@media(max-width: 500px) {
  .menu {
    &__right {
      padding: 30px;
    }
  }
}