<div class="in-form">
    <div class="forma-r">
        <h2><span>Обратный звонок</span></h2>
        <form id="callback" action="/" method="post">
            <div>
                <input name="check" type="email" value=""/>
            </div>
            <p>Представьтесь, пожалуйста:<span style="color:red">*</span><br /> <input size="38" required type="text" name="name" /></p>
            <p>Телефон:<span style="color:red">*</span><br /> <input size="38" type="text" name="phone" required /></p>
            <div class="forma-r">
                <input type="hidden" name="modal" value="1" />
                <input class="forma-sub" name="submit" type="submit" value="Отправить"/>
            </div>
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>