<div class="items smi">
    <a target="_blank" title"{$longtitle} Статья: {$pagetitle}" href="{$_pls['tv.file']}">
        {if $_pls['tv.image_cat'] ?}
            <img alt="" src="{$_pls['tv.image_cat'] | phpthumbon : 'w=113&sz=1'}">
        {else}
            <img alt="" src="{'/assets/images/logo-bot.png' | phpthumbon : 'w=113&sz=1'}">
        {/if}
    </a>
    <p><a target="_blank" title"{$longtitle} Статья: {$pagetitle}" href="{$_pls['tv.file']}">{$longtitle}</a></p>
    <p><a target="_blank" title"{$longtitle} Статья: {$pagetitle}" href="{$_pls['tv.file']}"><strong>Статья: {$pagetitle}</strong></a></p>
    <div class="clear"></div>
</div>