.tabset_tabs li:last-child a{background:0;}
.tabset_tabs li:last-child a:hover{background:#fff;}
.tabset_tabs li a.active{background:#fff !important;}
h1 span, h2 span, h3 span {
	-webkit-box-sizing:content-box !important;
	-moz-box-sizing:content-box !important;
	-ms-box-sizing:content-box !important;
	-o-box-sizing:content-box !important;
	box-sizing:content-box !important;
}
.maps{
	height:600px;
}
.registr-left{
	text-align:center;
}
.registr{
	display:none;
	text-align:center;
}
@media screen and (max-width:991px){
	.header {
		width: 750px;
		padding:0 15px;
	}
	.h-bw {
		width: auto;
		float: right;
		padding-top:35px;
	}
	.logo {
		width: 150px;
		float: none;
		margin: 0 auto;
	}
	#map {
        width: 100% !important;
    }
	.h-b1 {
		margin-right: 0;
	}
	.h-b3,
	.h-b4 {
		margin-left: 25px;
	}
	.h-men ul {
		display: inline-block;
	}
	.h-men {
		float: none;
		text-align: center;
		width: 100%;
	}
	.navi {
		width: 750px;
		padding:0 15px;
	    right: 15px;
	}
	.slider-t {
		width: 750px;
	}
	.slider-t-in {
		width: 565px;
		padding: 80px 185px 80px 0;
	}
	#cs-coin-slider11, #coin-slider {
		min-width: 750px !important;
	}
	.tabset_tabs li a {
		padding: 0 12px;
		font-size:14px;
	}
	.tabset_tabs {
		width: 750px;
		padding:0 15px;
		display:table;
	}
	.tabset_tabs li {
		display:table-cell;
	}
	.tabset_tabs li a {
		padding: 0;
		float: none;
		text-align: center;
	}
	.tabs-cont {
		width: 750px;
		padding: 0 15px;
	}
	.motstup .clear{
		clear:none;
	}
	.n-menu {
		margin: 0px;
	}
	.n-menu li a {
		width: 203px !important;
	}
	.n-menu li,
	.n-menu li a {
		height: 46px;
	}
	.n-menu.ps2 li:first-child {
		border-left: 1px solid #697b8d;
	}
	.cont{
		width: 750px;
		padding: 40px 15px;
	}
	.cont-in {
		width: 750px;
	}
	.cont-l {
		width: 64%;
	}
	.cont-r {
		width: 33%;
	}
	.cont-r > div > a img{width:100%;}
	.calc-l {
		float: none;
		width: 100%;
	}
	.calc-r {
		float:none;
		width:100%;
	}
	.calc-l, .calc-r {
		height: auto;
	}
	.forma-r *{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		-o-box-sizing:border-box;
		box-sizing:border-box;
	}
	.forma-r input {
		height: 40px;
		width: 100%;
	}
	.forma-r textarea {
		width:100%;
	}
	.forma-r input.forma-sub {
		width: 100%;
	}
	#captcha_word2 {
		width: 150px;
	}
	.useful-in {
		width: 750px;
		padding:0 15px;
	}
	.usef:first-child {
		width: 240px;
	}
	.usef,
	.usef:last-child {
		width: 210px;
	}
	.footer {
		width: 750px;
		padding:0 15px;
	}
	.foot1 {
		margin: 5px 20px 0 0;
	}
	.foot3 {
		width: auto;
		margin-left: 20px;
	}
	.soc {
		float: right;
	}
	.foot4 {
		width: auto;
		text-align: right;
	}
	.menu-in-b {
		width: 100%;
	}
	.menu-in ul li ul li a {
		font-size: 13px !important;
		padding: 5px 15px 5px 15px !important;
	}
	.menu-in ul li a {
		padding: 8px 15px 8px 15px;
	}
	.menu-in span.menu-tit {
		padding-left: 15px;
	}
	.cont-in-wr{
		padding:0 15px;
	
	}
	.map{
		width: 100%;
		min-width: auto;
		height: auto;
	}
	.maps{
		height: 500px;
	}
	.map-desc span:first-child {
		margin-bottom: 0px;
	}
	.map-desc span {
		margin-bottom: 2px;
	}
	.map-desc {
		right: 10px;
		width: 180px;
	}
	.map-desc p{margin:0;}
}
@media screen and (max-width:767px){
	.registr-left{display:none}
	.registr{display:block;}
	*{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		-o-box-sizing:border-box;
		box-sizing:border-box;
	}
	.logo {
		float: none;
	}
	.h-bw {
		float: none;
	}
	.h-bw > div{
		width:25%;
		margin:0;
	}
	.header {
		width: 100%;
	}
	.slider-t span {
		font-size: 30px;
		line-height: 36px;
	}
	.slider-t-in {
		width: 100%;
	    padding: 40px 15px 80px 15px;
	}
	#cs-coin-slider11, #coin-slider {
		width: 100% !important;
		min-width: 100% !important;
		height: 250px !important;
	}
	.navi {
		width: 100%;
	}
	.tabset_tabs li a {
		font-size: 12px;
		height: 50px;
		line-height: 50px;
	}
	.tabs {
		height: auto;
	}
	.tabset_tabs {
		width: 100%;
	}
	.n-menu li a {
		width: 100% !important;
		display:block;
		height:auto;
		padding:10px 0;
	}
	.n-menu li {
		float: none;
		width: 100% !important;
		border:0 !important;
	}
	.n-menu li:last-child {
		float: none;
		height: auto;
	}
	.tabss div{float:none;}
	.tabss div:after{
		content:'';
		display:block;
		clear:both;
	}
	.tabs-cont {width: 100%;}
	.n-menu li, .n-menu li a {
		height: auto;
	}
	.cont,.cont-in  {
		width: 100%;
		padding-top:0;
	}
	.cont > div,.cont-in >div{
		float:none;
		width:100%;
	}
	#cs-buttons-coin-slider a:after {
		display: none;
	}
	.cont-r > div > a img {
		width: auto;
	}
	.forma-r textarea {
		max-width: 100%;
	}
	#captcha_word2 {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.useful-in {
		width: 100%;
	}
	.useful-in> div{
		width:100% !important;
		float:none !important;
		margin:0 !important;
	}
	.footer-wr {
		height: auto;
	}
	.footer {
		width: 100%;
	}
	.footer > div{
		margin:0;
	}
	.foot1,
	.foot2,
	.foot3{
		width:33.333%
	}
	.foot4{
		margin-top:40px !important;
	}
	.menu-in-b {
		background: 0;
		border-bottom:1px solid #ddd;
	}
	.in-form {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom:0;
	}
	.forma-r textarea,
	.forma-r input{
		border:1px solid #ccc;
	}
}
@media screen and (max-width:670px){
	.h-bw > div {
		width: 50%;
	}
	.header-wr {
		min-height: auto;
		max-height: 100%;
	}
	.h-b2,
	.h-b3{
		text-align:right;
	}
	.h-bw > div{
		margin-bottom:30px;
	}
	.h-bw{
		width:430px;
		margin:0 auto;
	}
	.h-bw:after{
		content:'';
		clear:both;
		display:block;
	}
	.logo{
		text-align:center;
		width:100%;
	}
	.h-men ul li{
		background:none !important;
	}
	.h-men ul li {
		padding: 0 10px
	}
	.tabset_tabs li {
		display: inline-block;
		width:33.3333%
	}
	.tabset_tabs li:nth-child(4),
	.tabset_tabs li:nth-child(5) {
		width:50%;
	}
	.tabset_tabs li:nth-child(3) a{background:0;}
	.tabset_tabs li:nth-child(3) a:hover{background:#fff;}
	.in-form .forma-r {
		width: 100%;
		padding: 0 15px;
	}
	.map-desc {
		position:static;
		width:100%;
		background: none;
		box-shadow: 0 0 0 0;
	}
	.reveal-modal.medium {
		width: 100% !important;
		margin-left: 0!important;
		left: 0;
		padding: 15px;
		top: 0 !important;
	}
	.reveal-modal{
		background:none;
		padding:15px;
	}
	.reveal-modal input[type="text"]{
		width:100%;
		height:40px;
	}
	.reveal-modal > div{
		background:#fff;
		padding: 30px 40px 34px;
	}
	.reveal-modal .close-reveal-modal {
		top: 23px;
		right: 26px;
	}
}
@media screen and (max-width:570px){
	.h-men ul li {
		padding: 0 5px;
	}
	.h-men ul li a {
		font-size: 13px;
		padding: 0 5px;
	}
	h1, h2, h3 {
		background-position: right 15px;
	}
}
@media screen and (max-width:480px){
	.h-bw {
		width: 100%;
	}
	.h-men ul li  {
		width:50%;
		padding:10px 0;
	}
	.h-men {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.ptable p{
		margin:0;
	}
	.ptable td:first-child p{text-align:left;}
	.ptable td:first-child {width:50%;}
	.ptable td{
		font-size:12px;
		vertical-align:top;
		padding:5px 3px;
	}
}
@media screen and (max-width:440px){
	.tabset_tabs li {
		width:50%
	}
	.tabset_tabs li:nth-child(5) {
		width:100%;
	}
	.tabset_tabs li a{background:0;}
	.tabset_tabs li a:hover{background:#fff;}
	#coin-slider-wr{display:none;}
	.footer > div {
		float:none;
		width:100%;
		text-align:center;
	}
	.soc {
		float: none;
		display:inline-block;
	}
	.foot2{margin:10px 0 !important;}
	.menu-in ul li a {
		padding: 5px 15px 5px 15px;
		font-size: 15px;
	}
	.menu-in span.menu-tit {
		font-size: 16px;
	}
	.menu-in ul li a:hover {
		background: url(http://codexspb.ru/template/img/menu-in-act.jpg) right -7px no-repeat #f2f0f3;
	}
}
@media screen and (max-width:400px){
	.cont-r > div > a img {
		width: 100%;
	}
}
@media screen and (max-width:360px){
	.h-b1{display:none}
	.h-b3{display:none}
	.h-b4{display:none}
	.h-bw > div {
		width:100%;
		float:none;
		text-align:center;
	}
	.h-bw{height:100%;}
	.logo {
		float: left;
		width: auto;
		padding: 15px 0 0 47px;
		height:auto;
	}
	.logo img{width:auto; height:84px;}
	.h-bw > div.h-b2{
		float:right;
		text-align:right;
		width:auto;
	}
	.h-bw {
		padding-top: 20px;
	}
	.cont-l .items > a {display:block;text-align:center;}
	.cont-l .items > a img {float:none;}
	.maps {height:616px;}
}