	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 10100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 50px;
		left: 50%;
		margin-left: -300px;
		width: 520px;
		/*background: #FFF;*/
		background: url(../images/bg.jpg) left top repeat;
		position: absolute;
		z-index: 10101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		font-size: 15px !important;
		font-family: arial  !important;
		color: #6c271c !important;
		line-height: 1.3;
		}
	.reveal-modal .in-form {
		padding: 0;
		margin: 0;
	}
	.reveal-modal h2 span{
		/*background:#fff;*/
		background: url(../images/bg.jpg) left top repeat;
	}
	.reveal-modal form {
		font-size: 15px;
	}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 620px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 720px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
		
	a.reveal-button {
		color: #FFF !important;
		padding: 4px 10px !important;
		display: inline-block;
		background: #2C9FD8;
		border: solid 1px #2C9FD8;
		border-radius: 6px;
		width: 100px;
		font-size: 13px;
		font-family: Tahoma;
		text-align: center;
		margin: 15px 0 0 13px;
		text-transform: uppercase;
	}	

	a:hover.reveal-button {
		background: #4DA9D6;
		text-decoration: none;	
	}		
	
	
	.send-block {
	margin: 20px 0 0 12px;
	
}
	
a.send-message {
color: #3a4f7a !important;
padding: 4px 10px !important;
display: inline-block;
border: solid 1px #91C9FF;
border-radius: 6px;
width: 100px;
background-color: #FFF;
font-size: 10px;
text-decoration: none;
text-align: center;
}
	
a.send-message:hover {
	border: solid 1px #91C9FF;
	background-color: #FFF;
	color: #000 !important;
} 

.tovarf {
	border: 1px dashed #000;
	display: inline-block;
	padding: 5px;
	margin: 0 0 10px 0;
	color: #000;
	font-size: 12px;
}