.t-just {text-align: justify;}

body{
	padding:0;
	margin:0;
	background:url(../images/bg.jpg) left top repeat;
	font-family: 'PT Sans', sans-serif;
	border:0;
	color:#42474e;
	font-size:15px;
}
img{border:0;}
a{
	color:#2574a9;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
/*p{margin:;}*/
ul{
	padding:0;
	margin:0;
	list-style:;
}
.cont-l ul{margin-left: 17px;}
.clear{
	clear:both;
}
h1, h2, h3, h4, h5, h6{
	color:#42474e;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:700;
	text-transform:uppercase;
}

h1, h2, h3{background:url(../images/h-men-li.jpg) right center repeat-x;}
h1, h2, h3{background:url(../images/h-men-li.jpg) right center repeat-x;}
.cont h1 span, .cont h2 span, .cont h3 span{background:url(../images/bg.jpg) left top repeat;}
h1 span, h2 span, h3 span{
	padding-right:20px;
	background:#fff;
}
h1{
	font-size:24px;
	margin:25px 0;
}
h2{
	font-size:24px;
	margin:25px 0;
}
h3{font-size:20px;}
.header-wr{
	min-height:167px;
	max-height:300px;
}
.header{
	width:964px;
	padding-top:15px;
	margin:0 auto;
}
.logo{
	float:left;
	width:200px;
	height:110px;
	margin-top:5px;
	text-align:center;
}
.logo img {height: 105px;}
.h-bw{
	width:760px;
	float:left;
	height:65px;
	margin-bottom: 10px;
}
.h-b1{
	width:135px;
	font-style:italic;
	font-size:11px;
	line-height:18px;
	position:relative;
	padding-left:17px;
	color:#3f454b;
	opacity:.8;
	float:left;
	margin-right:20px;
}
.h-b1 span{
	position:absolute;
	left:0;
}
.h-b2{float:left;}
.h-b3{float:left; margin-left: 30px;}
.h-b4{float:left; margin-left: 30px;}
.h-b2 span, .h-b3 span,  .h-b4 span{
	display:block;
	color:#42474e;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:700;
	font-size:16px;
	margin-bottom:8px;
}
.h-b2 a, .h-b3 a{
	display:inline-block;
	font-size:13px;
	color:#2574a9;
	border-bottom:1px solid #8cb3cf;
	text-decoration:none;
	padding-left:22px;
	height:25px;
}
.h-b2 a:hover, .h-b3 a:hover{border-bottom:0}
.h-b2 a{background:url(../images/h-phone.png) left top no-repeat;}
.h-b3 a{background:url(../images/h-mark.png) left top no-repeat;}
.ots1 {margin-bottom: 8px !important;}
.h-men{
	float:left;
	display:inline-block;
	max-width:964px;
	height:20px;
	overflow:hidden;
	margin:20px 0;
}
.h-men ul{list-style:none;}
.h-men ul li{
	float:left;
	padding:0 26px;
	background:url(../images/h-men-li.jpg) left center no-repeat, url(../images/h-men-li.jpg) right center no-repeat;
}
.h-men ul li:first-child{
	padding-left:0;
	background:url(../images/h-men-li.jpg) right center no-repeat;
}
.h-men ul li:last-child{
	padding-right:0;
	background:url(../images/h-men-li.jpg) left center no-repeat;
}
.h-men ul li a{
	display:inline-block;
	text-transform:uppercase;
	font-size:14px;
	color:#3f454b;
	font-family: 'PT Sans', sans-serif;
	font-weight:700;
	text-decoration:none;
	padding:0 10px;
	
}
.h-men ul li a:hover{text-decoration:underline;}
.h-men ul li a.active{text-decoration:underline;}
.slider-t{
	width:964px;
	margin:0 auto;
	
}
.slider-t-in{
	position:absolute;
	z-index:100;
	width:664px;
    padding: 30px 300px 130px 0;
	height:229px;
}
.slider-t a{
	display:inline-block;
	height:56px;
	line-height:56px;
	width:px;
	padding:0 20px;
	font-size:14px;
	color:#fff;
	background:#d24d57;
	font-weight:700;
	text-transform:uppercase;
}
.slider-t span{
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	font-size:48px;
	color:#fff;
	display:block;
	line-height: 54px;
	margin-bottom:30px;
}
#cs-coin-slider11, #coin-slider{
	width:100% !important;
	min-width:964px !important;
	height: 389px !important;
	background-position:center bottom !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.navi{
	display: none;
	width:962px;
	padding-right:2px;
	margin:0 auto;
	position: relative;
	top: -50px;
	z-index: 101;
}
#cs-buttons-coin-slider{
	right: 0;
	position: absolute;
}
#cs-buttons-coin-slider a:after{
	display:block;
	content:'';
	width:11px;
	position:absolute;
	right:3px;
	height:14px;
	background:url(../images/sl-aft.jpg) left center no-repeat;
}

#cs-buttons-coin-slider a{
	height:14px;
	width:14px;
	display:block;
	float:left;
	font-size:0;
	padding-right:18px;
	position:relative;
	background:url(../images/sl-innact.png) 2px center no-repeat;
}
#cs-buttons-coin-slider a:last-child{padding:0;}
#cs-buttons-coin-slider a:last-child:after{display:none !important;}
#cs-buttons-coin-slider a.cs-active{
	background:url(../images/sl-act.png) left center no-repeat;
}
.tabs{
	height:68px;
	background:#FC8035;
}
.blo-wr{
	background:#fff;
	padding:40px 0;
	height:240px;
}
.tabs-in, .blo{
	width:964px;
	margin:0 auto;
}
.blo1, .blo2, .blo3{
	display:none;
}
.blo1-in, .blo2-in, .blo3-in{
	display:inline-block;
	position:absolute;
}
.tabs-in{
	height:68px;
	background:url(../images/tabs.jpg) left center no-repeat;
}
.tabset_tabs{
	list-style:none;
	display:block;
	width:964px;
	margin:0 auto;
}
.tabset_tabs li a{
	background:url(../images/tabs.jpg) right center no-repeat;
	font-family: 'PT Sans Narrow', sans-serif;
	height:68px;
	line-height:68px;
	padding: 0 7px;
	font-size:16px;
	display:block;
	color:#fff;
	font-weight:700;
	float:left;
	cursor:pointer;
	text-transform:uppercase;
	text-decoration:none;
}
.tabset_tabs li a:hover, .tabset_tabs li a.active{
	background:#fff;
	color:#2c3e50;
}
/*.tabset_tabs li a:hover  span, .tabset_tabs li a.active  span{
	display:block;
	margin:0 auto;
	width:12px;
	height:8px;
	background:url(../images/arr-r.png) left top no-repeat;
	margin-top:-10px;
}*/
.tabs-cont-wr{
	background:#fff;
}
.tabs-cont{
	width:964px;
	margin:0 auto;
}
.tabset_content{display:none;}
.tabset_content.tabset_content_active{display:block;}

#tab1{}
.tabss div{
	padding:0 16px;
	float:left;
	/*border-left:1px solid #eceaed;
	
	
	height:290px;*/
}
.tabss div:first-child{
	border:0;
	padding-left:0;
}
.tabss div:last-child{padding-right:0;}
.reg-b0{width:156px;}
.reg-b1{width:192px;}
.reg-b2{width:109px;}
.reg-b3{width:195px;}
.reg-b4{width:180px;}
.motstup {
	padding:40px 0 !important;
}
.tabss div span{
	font-size:16px;
	line-height: 16px;
	font-weight:700;
	color:#42474e;
	font-family: 'PT Sans Narrow', sans-serif;
	margin-bottom:15px;
	display:block;
	margin-top:-1px;
}
.tabss div ul{list-style:none;}
.tabss div ul li{
	line-height:14px;
	margin-bottom:7px;
}
.tabss div ul li a{
	text-decoration:none;
	font-size:13px;
}
.tabss div ul li a:hover{text-decoration:underline;}

#tab2 ul{list-style:none;}
/*#tab2 ul li{
	float:left;
	margin-left:23px;
}
#tab2 ul li:first-child{margin-left:0;}
#tab2 ul li a{
	display:block;
	position:relative;
	width:173px;
	height:99px;
	padding:15px 30px 15px 20px;
	font-size:16px;
	color:#fff;
	font-weight:700;
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration:none;
}
#tab2 ul li a:hover{text-decoration:underline;}
#tab2 ul li img{
	position:absolute;
	width:223px !important;
	height:129px !important;
}
#tab2 ul li a span{
	position:absolute;
	right:14px;
	top: 16px;
	display:block;
}*/
.cont{
	width:964px;
	margin:0 auto;
	padding:40px 0;
}
.cont-l{
	width:625px;
	float:left;
}
.cont-r{
	width:296px;
	float:right;
}
.forma-r{}
.forma-r input{
	border:0;
	border-top:2px solid #ededed;
	border-left:1px solid #ededed;
	height:51px;
	width:270px;
	padding:0 5px 0 20px;
	margin:0 0 9px 0;
	font-size:15px;
}
.forma-r textarea{
	font-family: 'PT Sans', sans-serif;
	resize:none;
	width:270px;
	max-width:270px;
	font-size:15px;
	padding:15px 5px 5px 20px;
	height:101px;
	max-height:101px;
	border:0;
	border-top:2px solid #ededed;
	border-left:1px solid #ededed;
	margin:0 0 9px 0;
}
.forma-r input.forma-sub{
	border:0;
	margin:0;
	margin-top:7px;
	padding:0;
	width:296px;
	height:53px;
	font-size:14px;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	background:#FC8035;
	cursor:pointer;
}
.useful{
	background:#fff;
	padding:40px 0;
}
.useful-in{
	width:964px;
	margin:0 auto;
}
.usef{
	width:290px;
	float:left;
	margin-left:41px;
}
.usef:first-child{width:295px;margin-left:0;}
.usef:last-child{width:295px;}
.useful-in h3 span{background:#fff;}
.pol-ss{
	list-style:none;
}
.pol-ss li:before{
	content:'>';
	color:#a8acaf;
	font-weight:700;
	margin-right:13px;
}
.usef .new{margin-bottom:25px;}
.usef .art-t{}
.usef .date{
	font-size:13px;
	display:block;
	color:#a8acaf;
	margin-bottom:10px;
}
.footer-wr{
	height:155px;
	background:#FC8035;
	padding:50px 0;
}
.footer{
	width:964px;
	margin:0 auto;
	/*color:#cbcfd2;*/
	color:#FFFFFF;
	line-height:24px;
}
/*.footer a{color:#cbcfd2;}*/
.footer a{color:#FFFFFF;}
.foot1{
	float:left;
	margin:5px 70px 0 0;
}
.foot1 img {height:135px;}
.foot2{float:left;}
.foot2 ul{list-style:none;}
.foot3{
	width:255px;
	float:left;
	margin-left: 60px;
}
.foot-3-1{margin-bottom:24px;}
.foot-3-1 span{
	font-family: 'PT Sans', sans-serif;
	font-weight:700;
}
.foot3 span{display:block;}
.foot4{
	width:335px;
	float:right;
}
.foot4 span{display:block;}
.soc{margin-top:24px;}
.soc a{
	display:block;
	float:left;
	margin-left:7px;
	width:40px;
	height:40px;
	background-image:url(../images/soc.png);
	background-repeat:no-repeat;
	font-size:0;
}
.soc a:first-child{margin-left:0px;}
.soc a.vk{background-position:0 top;}
.soc a.fb{background-position:-47px top;}
.soc a.tw{background-position:-94px top;}
.soc a.gp{background-position:-141px top;}
.soc a.vk:hover{background-position:0 bottom;}
.soc a.fb:hover{background-position:-47px bottom;}
.soc a.tw:hover{background-position:-94px bottom;}
.soc a.gp:hover{background-position:-141px bottom;}

.cont-in-wr{
	background:#fff;
}

.cont-in{
	width:964px;
	margin:0 auto;
}
.cont-in .cont-r{
	float:left;
	padding-top:33px;
}
.cont-in .cont-r h3 {
	margin: 27px 0;
}
.cont-in .cont-r h3:first-child {
	margin: 0 0 27px 0;
}
.cont-in .cont-r .usef{
	float:none;
	margin:35px 0 50px 0;
	width:100%;
}
.cont-in .cont-l{float:right;}
.in-form{
	background:url(../images/bg.jpg) left top repeat;
	padding:20px 0 50px 0;
	margin:30px 0 60px 0;
}
.in-form .forma-r h2 span{
	background:url(../images/bg.jpg) left top repeat;
}
.in-form .forma-r{
	width:296px;
	margin:0 auto;
}

.menu-in{
	border:1px solid #dcdddf;
	padding:20px 0;
}
.menu-in-b{
	display:inline-block;
	background:url(../images/menu-in-b.jpg) left bottom no-repeat;
	padding-bottom:10px;
	margin-bottom:20px;
	width: 294px;
}

.menu-in-b>a:hover {
    text-decoration: none;
}

.menu-in-b>a>span:hover,
.menu-in-b>a>span.active {
    font-weight: 700;
    color: #3f454b;
    background: url(../images/menu-in-act.jpg) right top no-repeat;
    background-size: 15px 23px;
}

.menu-in-b:last-child{
	background:0;
	padding-bottom:0;
	margin-bottom:0;
}
.menu-in span.menu-tit{
	padding-left:26px;
	font-weight:700;
	font-size:18px;
	display:block;
	color:#42474e;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform:uppercase;
	margin-bottom:10px;
}
.menu-in ul{list-style:none;}
.menu-in ul li{
	
}
.menu-in ul li a{
	display:block;
	padding:11px 45px 11px 26px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:18px;
	font-weight:400;
}
/*.menu-in ul li.active a, */.menu-in ul li a:hover{
	font-weight:700;
	color:#3f454b;
	text-decoration:none;
	background:url(../images/menu-in-act.jpg) right top no-repeat #f2f0f3;
}
.menu-in ul li.active a{
	color:#3f454b;
	text-decoration:none;
	background:#f2f0f3;
}
.menu-in ul li ul{
	padding:8px 0;
	background:#f8f6f8;
	}
.menu-in ul li ul li a{
	background:none !important;
	font-weight:400 !important;
	color:#2574a9 !important;
	font-size:15px !important;
	padding:5px 45px 5px 36px !important;
}
.menu-in ul li ul li a:hover, .menu-in ul li ul li.active a{color:#3f454b !important;}

.menu-in-b>a {
    display: block;
    padding: 0px 45px 0px 26px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.menu-in-b>a>span {
    display: block;
}

.map{
	width:100%;
	min-width:964px;
	height:600px;
	position:relative;
}
.map-desc{
	position:absolute;
	z-index:100;
	right:50px;
	top:50px;
	width:210px;
	padding:20px;
	background:url(../images/bg.jpg) left top repeat;
	box-shadow:0 0 5px #2c3e50;
}
.map-desc span:first-child{
	font-weight:700;
	font-size:18px;
	color:#42474e;
	font-family: 'PT Sans Narrow', sans-serif;
	margin-bottom:20px;
}
.map-desc span{
	display:block;
	margin-bottom:10px;
}
#YMapsID{
	width:100%;
	min-width:964px;
	height:600px;
}

.news-anons li{
	margin-bottom: 15px;
}

#nc_captcha_refresh_button0 {
background: url('../images/exchange.png') no-repeat;
font-size: 0;
width: 20px;
height: 20px;
border: 0;
line-height: 65px;
display: inline-block;
outline: none;
}

#captcha_word2 {
	width: 90px;
	float: left;
	padding: 0 10px;
	margin: -2px 10px 5px 0;
}
.bread{margin-top:35px;}
.bread ul{
	list-style:none;
	padding:0;
	margin:0;
	font-size:13px;
}
.bread li{
	display:inline;
	padding:0;
	margin:0;
}
.bread li:after{
	content:' —';
	color:#dcdddf;
	margin:0 3px;
}
.bread li:last-child:after{display:none;}
#note {margin-bottom: 6px; text-align: center; color: #F00;}
.ptable td{border-top: 1px solid #dcdddf;border-left: 1px solid #dcdddf}
.ptable{border-bottom: 1px solid #dcdddf;border-right: 1px solid #dcdddf}
.n-menu{}
.n-menu li {float: left; height: 56px; border-right: 1px solid #ffffff}
.n-menu li:last-child{float: left; height: 56px; border-right: none !important}
.n-menu li a{display: table-cell; vertical-align: middle; background: #FC8035; height: 56px; text-align: center; color: #FFF; font-size: 15px !important; padding: 0 23px; text-decoration: none !important;}
.n-menu li a:hover{background: #697b8d;}
.ps4 li a {width: 193px;}
.ps2 {margin-left:200px;margin-top: 80px;}
.ps2 li a {width: 230px;}
.ps3 li a {width: 273px;}
.kupikupi {
	padding: 10px;
	border: 1px solid #42474e;
}
.hidden {
	display: none;
	margin: 0 0 0 30px;
}
.calc-l, .calc-r {

}
.calc-l {
	float: left;
	width: 70%;
}
.calc-r {
	float:right;
	text-align: center;
}

.calc-r p {
	vertical-align:middle;
	display: table-cell;
	height: inherit;
}

#tooltip {
    z-index: 9999;
	position: absolute;
	display: none;
	top:0px;
	left:0px;
	background-color: #000;
	padding: 5px 10px 5px 10px;
	color: white;
	opacity: 0.8;
	border-radius: 5px; 
}

.answer {
	border: 1px solid #000;
	padding: 1px 5px;
	display: inline-block;
	margin: 0 5px;
	font-size:11px;
}

.b-zakaz {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #FFF;
	margin: 10px 0;
	background: #d24d57;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

.b-zakaz:hover {
	text-decoration: none;
}

#in3 {
	width:30px;
}

#calc-reg-ooo input {
	margin: 6px 4px 6px 4px;
}

.wid2 {
	border: 0px;
	box-shadow: 0 0 0 0 #d24d57, inset 0 1px 0 #d24d57;
	-webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
}
.wid2:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px #d24d57, inset 0 1px 0 #d24d57;
  }
}

.carousel {
    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
}

    /* Styling for image based carousel content. Only width and height are mandatory */
.carousel>ul>li>a>img {
        width: 296px;
        height: 175px;
        vertical-align:middle;

        /* optional */
        /*margin: 10px 10px 10px 0;
        border-radius: 5px;*/
    }


/* Styles for PREV and NEXT anchor buttons */
a.prev, a.next, a.go {
    display: block;
    width: 26px;
    height: 30px;
    line-height: 1;

    background-color: #333333;
    color: ghostwhite;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;

    border-radius: 8px;
    float: left;
}
a.prev.disabled, a.next.disabled,
a.prev.disabled:hover, a.next.disabled:hover {
        background-color: #8d8d8d;
        cursor: default;
    }
a.go.highlight {
        background-color: #dedede;
        color: #000;
    }
a.prev {
        margin: 50px -5px 0 0;
        text-indent: 7px;
    }
a.next {
        margin: 50px 0 0 -5px;
        text-indent: 10px;
    }
a.prev:hover, a.next:hover, a.go:hover {
            background-color: #666666;
        }

/* Additional carousel styles for external controls, slider, widget, mid etc. */

.externalControl button,
.imageSliderExt button {
    margin: 5px 5px 0 0;
}
.externalControl a.next, .externalControl a.prev, .externalControl a.go,
.imageSliderExt a.next, .imageSliderExt a.prev, .imageSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

.widget img {
    cursor: pointer;
}
.mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
/*.vertical {
    margin-left: 170px;
}*/

.imageSlider .carousel>ul>li>img,
.imageSliderExt .carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
.imageSlider .carousel>ul>li>p,
.imageSliderExt .carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

/* Other common styles */

.clear {
    clear: both;
}

div.rukovod {
    display: inline-block;
    margin: 0 10px 20px 0;
    max-width: 300px;
}

div.rukovod img {
    max-width: 300px;
    max-height: 450px;
}

div.rukovod span {
    display: block;
    text-align: center;
}

ul.pagination {
    list-style: none;
}

ul.pagination li {
    float: left;
    margin: 0 5px;
}
.items {
    margin-bottom: 15px;
}
.items img {
    float: left;
    margin-right: 10px;
    width: 180px;
}

.items.smi img {width: 113px;}

.logoRent {
    display: block;
    height: 28.1px;
    width: 292px;
    background: url("../images/logoRent.png") no-repeat;
    background-position: left bottom;
    background-size: 170px;
    line-height: 26px;
    text-align: right;
    margin-top: 15px;
}
.logoRent:hover {
    background-position: left top;
    text-decoration: none;
}
.p-top0 {padding-top:0;}
.p-bot0 {padding-bottom:0;}