.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 101;
  height: 193px;
  * {
    box-sizing: border-box;
  }
  &__block {
    width: 100%;
    max-width: 964px;
    position: relative;
  }
  &__wrap {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: -219px;
    left: 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: 3px 2px 8px -2px #000;
    overflow: hidden;
  }
  &__left {
    width: 367px;
    height: 438px;
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__right {
    width: calc(100% - 347px);
    background: #fff;
    height: 438px;
    padding: 30px 70px;
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__items {
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 33px;
  }
  &__item {
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
    background: #fff;
    &-link {
      display: block;
      padding: 20px 30px;
      background: #ff812c;
      color: #fff;
      &:hover {
        text-decoration: none;
        background: #ffc08c;
      }
      &.active {
        position: relative;
        background: #ffc08c;
        color: #000;
        &::after {
          content: "";
          position: absolute;
          left: 100%;
          top: 0;
          height: 73px;
          width: 20px;
          background: url('/assets/images/menu-arr-right.jpg');
        }
      }
    }
    &-content {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}